{% extends "base.html" %}

{% block content %}
	<div class="content">
		<p>One of my earliest memories is of the stories my dad used to invent for my sister and I before bedtime.
			Instead of reading a book to us, he would ask us both for a character and then create a magical story
			straight from his imagination.</p>
		<p>The age-old tradition of storytelling is an important part of a child's social and mental upbringing but
			many parents today feel they lack the time, confidence or imagination to tell bedtime stories to their children.</p>
		<p>Bedtime was created to allow parents to participate in their child's nightly routine by telling engaging
			stories in a modern way.</p>
	</div>
{% endblock %}