{% extends "pages.html" %}

{% block content %}
	<div class="content">
		<p>Thanks for reading!</p>
		<p>Please rate this story and share with your friends!</p>
		<ul class="share-buttons">
		  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbedtime.samueltjoseph.com/story/{{ story_id }}/start&t=Bedtime%20Story%20Generator" title="Share on Facebook" target="_blank"><img src="{{ url_for('static', filename='img/Facebook.svg') }}"></a></li>
		  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fbedtime.samueltjoseph.com/story/{{ story_id }}/start&text=Bedtime%20Story%20Generator:%20http%3A%2F%2Fbedtime.samueltjoseph.com" target="_blank" title="Tweet"><img src="{{ url_for('static', filename='img/Twitter.svg') }}"></a></li>
		  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fbedtime.samueltjoseph.com/story/{{ story_id }}/start&t=Bedtime%20Story%20Generator&s=" target="_blank" title="Post to Tumblr"><img src="{{ url_for('static', filename='img/Tumblr.svg') }}"></a></li>
		  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fbedtime.samueltjoseph.com/story/{{ story_id }}/start&media=http://bedtime.samueltjoseph.com/static/img/icon.png&description=Come%20see%20the%20story%20I%20have%20created%20or%20make%20one%20yourself!" target="_blank" title="Pin it"><img src="{{ url_for('static', filename='img/Pinterest.svg') }}"></a></li>
		  <li><a href="mailto:?subject=Bedtime%20Story%20Generator&body=Come%20see%20the%20story%20I%20have%20created%20or%20make%20one%20yourself!:%20http%3A%2F%2Fbedtime.samueltjoseph.com/story/{{ story_id }}/start" target="_blank" title="Email"><img src="{{ url_for('static', filename='img/Email.svg') }}"></a></li>
		</ul>

		<div id="thanks" class="small reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <span class="lead">
        <p id="modalTitle">Thanks!</p>
        <p>Your feedback is very important and will help improve the Bedtime experience.</p>
        <p>Can you spare a few moments to answer a quick survey?</p>
        <div class="small-6 columns">
          <a href="{{url_for('feedback', story_id=story_id)}}" class="button radius">Okay</a>
        </div>
        <a class="button radius custom-close-reveal-modal">No Thanks</a>
      </span>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

		{# thanks to http://rog.ie/blog/css-star-rater for the code #}
		<form class="form" action="" method="post" id="ratings">
      <span class="big-star star-rating">
        <input type="radio" name="rating" id="rating-0" value="1"><i></i>
        <input type="radio" name="rating" id="rating-1" value="2"><i></i>
        <input type="radio" name="rating" id="rating-2" value="3"><i></i>
        <input type="radio" name="rating" id="rating-3" value="4"><i></i>
        <input type="radio" name="rating" id="rating-4" value="5"><i></i>
      </span>
		</form>
	</div>
{% endblock %}