<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{#    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css' />#}
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/foundation.css" />
	{#    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>#}
	<link href="/static/css/style.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<script src="/static/js/vendor/jquery.js"></script>
	<script src="/static/js/vendor/modernizr.js"></script>

	{% if title %}
		<title>{{ title }} - Bedtime</title>
	{% else %}
		<title>Bedtime - A bedtime story generator</title>
	{% endif %}

	<link rel="shortcut icon" type="image/ico" href="{{url_for('static', filename='img/favicon.ico')}}" />

</head>
<body>

<div class="contain-to-grid sticky">

	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<div class="show-for-small-only">
					<a href="{{ url_for('index')}}">
						<img class="logo" src="{{url_for('static', filename='img/icon.png')}}">
					</a>
				</div>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">

			<div class="logo-wrapper hide-for-small-only">
				<div class="logo">
					<a href="{{ url_for('index')}}">
						<img src="{{url_for('static', filename='img/icon.png')}}">
					</a>
				</div>
			</div>

			<ul class="right">
				<li><a href="{{ url_for('about')}}">About</a></li>
				<li><a href="{{ url_for('contribute')}}">contribute</a></li>
{#				<li><a href="{{ url_for('create')}}">Create</a></li>#}
			</ul>

		</section>
	</nav>
</div>